body{


margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#101820;

font-family:-apple-system;


}



.app{


width:360px;

min-height:650px;

background:white;

border-radius:40px;

text-align:center;

padding:40px 20px;


}



h1{


font-size:34px;

}



button{


width:280px;

padding:18px;

margin:10px;

font-size:20px;

border:none;

border-radius:30px;

background:#1d7cff;

color:white;


}


p{

font-size:20px;

}